<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
            />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
            />
        <title>{% block title %} {% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>


        <div class="pusher">
            <div class="ui inverted vertical masthead center aligned segment">
                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        {% block homeActive %}
                        <a class="active item" href="{% url 'homepage' %}">Home</a>
                        {% endblock %}
                        {% if user.is_authenticated %}
                        {% block pontoActive %}
                        <a class="item" href="{% url 'ponto' %}">Ponto
                            Eletrônico</a>
                        {% endblock %}
                        {% endif %}
                        {% if user.is_superuser %}
                        {% block registerActive %}
                        <a class="item" href="{% url 'register' %}">Cadastro<a>
                        {% endblock %}
                        {% block pontoAdminActive %}
                        <a class="item" href="{% url 'admin' %}">Exceções</a>
                        {% endblock %}
                        {% block dashboardActive %}
                        <a class="item" href="{% url 'dashboard' %}">Dashboard</a>
                        {% endblock %}
                        {% endif %}
                        <div class="right item"></div>
                        {% if not user.is_authenticated %}
                        {% block loginActive %}
                        <a class="ui inverted button" href="{% url 'login' %}">Log in</a>
                        {% endblock %}
                        {% else %}
                        {% block logout %}
                        <a class="ui inverted button" href="{% url 'logout' %}">Log out</a>
                        {% endblock %}
                        {% endif %}


                    </div>
                </div>
                {% block homeContent %}{% endblock %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
