{% extends 'base.html' %}

{% block title %}Exceções{% endblock %}

{% block homeActive %}
<a class="item" href="{% url 'homepage' %}">Home</a>
{% endblock %}

{% block pontoAdminActive %}
<a class="active item" href="{% url 'admin' %}">Exceções</a>
{% endblock %}

{% block content %}
    <h1>Selecione um usuário</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="user_id">Usuário:</label>
            <select class="form-control" id="user_id" name="user_id">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="date">Data:</label>
            <input class="form-control" type="date" id="date" name="date" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
{% endblock %}
