{% extends 'base.html' %} {% block title %} PontoCalculator {% endblock %}

{% block homeContent %}
    <div
      class="ui text container"
      style="margin-top: 30px; margin-bottom: 15px"
    >
      <h1 class="ui inverted header">PontoCalculator</h1>
      <h2>Um sistema de ponto eletrônico!</h2>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div
      class="ui middle aligned stackable grid container"
      style="margin-top: 10px"
    >
      <div class="row">
        <div class="eight wide column">
          {% if user.is_authenticated %}
          <h3 class="ui header">Bem vindo(a), {{ username }}!</h3>
          {% else %}
          <h3 class="ui header">Bem vindo(a) ao pontoCalculator!</h3>
          <p>Use o menu da página para fazer login.</p>
          <p>
            Se ainda não tiver uma conta, por favor contate seu administrador.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}